<ion-view view-title="{{mesasVm.form.name}}">
  <ion-content class="has-header">
    <div class="list">
      <form name="mesaForm">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nombre mesa</span>
          <input type="text" ng-model="mesasVm.form.nombre" placeholder="Nombre mesa" required>
        </label>
        <div class="padding">
          <button class="button button-block button-positive activated" ng-click="mesasVm.updateMesa()" ng-disabled="mesaForm.$invalid">Guardar mesa</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
