<ion-view view-title="Producto nuevo">
  <ion-content class="has-header">
    <div class="list">
      <form name="productForm">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nombre producto</span>
          <input type="text" ng-model="productosVm.form.nombre" placeholder="Nombre producto" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Precio</span>
          <input type="number" ng-model="productosVm.form.precio" placeholder="Precio" required>
        </label>
      <!-- <label class="item item-input item-floating-label">
        <span class="input-label">Imagen</span>
        <input type="file" placeholder="Imagen">
      </label> -->
      <div class="padding">
        <button class="button button-block button-positive activated" ng-click="productosVm.newProducto()" ng-disabled="productForm.$invalid">Guardar producto</button>
      </div>
    </form>
    </div>
  </ion-content>
</ion-view>
