<ion-view view-title="Puntos entrega">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="puntoEntrega in puntosEntegaVm.puntosEntrega" type="item-text-wrap" ui-sref="tab.punto-entrega-detalles({idPuntoEntrega: puntoEntrega.id})">
        <img src="./images/brightness-1.svg">
        <h2>{{puntoEntrega.nombre}}</h2>
        <p>{{(puntoEntrega.isDisabled == true ? 'Inactivo' : '' )}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button ng-class="{'button-assertive': !puntoEntrega.isDisabled , 'button-positive' : puntoEntrega.isDisabled }" ng-click="puntosEntegaVm.disablePuntoEntrega(puntoEntrega.id)">
          Activar/Desactivar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-floating-button click="puntosEntegaVm.createPuntoEntrega()" has-footer="true" button-color="#2196F3" icon="ion-plus" icon-color="#fff">

</ion-view>
