<ion-view view-title="Productos">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="producto in productosVm.productos" type="item-text-wrap" ui-sref="tab.productos-detalles({idProducto: producto.id})">
        <img ng-src="{{producto.img}}">
        <h2>{{producto.nombre}}</h2>
        <p>{{producto.precio | number}}</p>
        <p>{{(producto.isDisabled == true ? 'Inactivo' : '' )}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button ng-class="{'button-assertive': !producto.isDisabled , 'button-positive' : producto.isDisabled }" ng-click="productosVm.disableProducto(producto.id)">
          Activar/Desactivar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-floating-button click="productosVm.createProducto()" has-footer="true" button-color="#2196F3" icon="ion-plus" icon-color="#fff">

</ion-view>
