<ion-view view-title="Configuración">
  <ion-content>
    <ion-list>
    <ion-item ui-sref="tab.perfiles">
      Perfiles
    </ion-item>
    <ion-item ui-sref="login">
      Cerrar sesión
    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
