<ion-view view-title="Perfiles">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="perfil in perfilesVm.perfiles" type="item-text-wrap" ui-sref="tab.perfil-detalles({idPerfil: perfil.id})">
        <img src="./images/brightness-1.svg">
        <h2>{{perfil.nombre}}</h2>
        <p>{{(perfil.isDisabled == true ? 'Inactivo' : '' )}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button ng-class="{'button-assertive': !prefil.isDisabled , 'button-positive' : perfil.isDisabled }" ng-click="perfilesVm.disablePerfil(perfil.id)">
          Activar/Desactivar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-floating-button click="perfilesVm.createPerfil()" has-footer="true" button-color="#2196F3" icon="ion-plus" icon-color="#fff">
</ion-view>
