<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <!-- <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab> -->

  <!-- Chats Tab -->
  <!-- <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab> -->

  <!-- tab productos -->
  <ion-tab title="Productos" icon-off="ion-android-restaurant" icon-on="ion-android-restaurant" href="#/tab/productos">
    <ion-nav-view name="tab-productos"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Mesas" icon-off="ion-cube" icon-on="ion-cube" href="#/tab/mesas">
    <ion-nav-view name="tab-mesas"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Puntos entrega" icon-off="ion-ios-box-outline" icon-on="ion-ios-box" href="#/tab/puntos-entrega">
    <ion-nav-view name="tab-puntos-entrega"></ion-nav-view>
  </ion-tab>



  <!-- Account Tab -->
  <!-- <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab> -->


  <ion-tab title="Usuarios" icon-off="ion-android-person" icon-on="ion-android-person" href="#/tab/usuarios">
    <ion-nav-view name="tab-usuarios"></ion-nav-view>
  </ion-tab>

  <!-- tab configuraciones -->
  <ion-tab title="Configuraciones" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/config">
    <ion-nav-view name="tab-config"></ion-nav-view>
  </ion-tab>


</ion-tabs>
