<ion-view view-title="Usuario nuevo">
  <ion-content class="has-header">
    <div class="list">
      <form name="usuarioForm">
        <label class="item item-input item-floating-label">
          <span class="input-label">DNI</span>
          <input type="number" ng-model="usuariosVm.form.id" placeholder="DNI" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Nombres</span>
          <input type="text" ng-model="usuariosVm.form.nombre" ng-keypress="usuariosVm.justLetters()" placeholder="Ingrese usuario" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Apellidos</span>
          <input type="text" ng-model="usuariosVm.form.apellidos" ng-keypress="usuariosVm.justLetters()" placeholder="Ingrese apellidos" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Correo</span>
          <input type="email" ng-model="usuariosVm.form.email" placeholder="Ingrese correo" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Teléfono</span>
          <input type="text" ng-model="usuariosVm.form.telefono" placeholder="Ingrese teléfono" required>
        </label>

        <div class="padding">
          <button class="button button-block button-positive activated" ng-click="usuariosVm.newUsuario()" ng-disabled="usuarioForm.$invalid">Crear usuario</button>
        </div>
    </form>
    </div>
  </ion-content>
</ion-view>
