<ion-view view-title="">
  <ion-content class="has-header">
    <div class="list">
      <form name="usuariosForm">
        <label class="item item-input item-floating-label">
          <span class="input-label">DNI</span>
          <input type="number" ng-model="usuariosVm.form.id" placeholder="Identificación" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Nombre</span>
          <input type="text" ng-model="usuariosVm.form.nombre" ng-keypress="usuariosVm.justLetters()" placeholder="Nombre" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Apellido</span>
          <input type="text" ng-model="usuariosVm.form.apellidos" ng-keypress="usuariosVm.justLetters()" placeholder="Apellidos" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Correo</span>
          <input type="email" ng-model="usuariosVm.form.email" placeholder="Correo" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Teléfono</span>
          <input type="text" ng-model="usuariosVm.form.telefono" placeholder="Teléfono" required>
        </label>

      <div class="list card">

          <div class="item item-image">
            <img ng-src="{{usuariosVm.form.img}}">
          </div>
        </div>

        <div class="padding">
          <button class="button button-block button-positive activated" ng-click="usuariosVm.updateUsuario()" ng-disabled="productForm.$invalid">Guardar usuario</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
